// Quasar Sass Variables

$primary:   #2557e6;
$secondary: #1a45c9;
$accent:    #ffc83d;

$dark:      #0e1430;
$dark-page: #080d1f;

$positive: #16a34a;
$negative: #dc2626;
$info:     #0284c7;
$warning:  #f59e0b;

$generic-border-radius: 12px;
$button-border-radius:  8px;
$input-border-radius:   8px;

$button-padding: 8px 20px;
