// Quasar Sass (& SCSS) Variables
// --------------------------------------------------

$vds-primary: #0b5cff;
$vds-secondary: #094ad0;
$vds-accent: #1a73e8;

$vds-dark: #0b1020;
$vds-dark-page: #0b1020;

$vds-positive: #16a34a;
$vds-negative: #dc2626;
$vds-info: #0284c7;
$vds-warning: #f59e0b;

$primary: $vds-primary;
$secondary: $vds-secondary;
$accent: $vds-accent;

$dark: $vds-dark;
$dark-page: $vds-dark-page;

$positive: $vds-positive;
$negative: $vds-negative;
$info: $vds-info;
$warning: $vds-warning;

$generic-border-radius: 18px;
$button-border-radius: 16px;
$input-border-radius: 16px;

$button-padding: 10px 16px;
